.footer {
  background-color:	whitesmoke ;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  size-adjust: 100px;
  background-color: whitesmoke;
}

.social-icons svg {
  font-size: 40px;
  margin: 0 10px;
  color: #555;
}

.contactdetailscard {
  display: flex;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.card {

  border: 1px solid black

}
.about {
  background-color:#007f5c;
  background-size: 100%;
  color :#f8f9fa;
  text-align: center;
  text-emphasis-color: white;
}

.aboutcard {
  

}

input[type = 'text'],
input[type= 'email'],
input[type='tel'],
input[as='Message']{
  display: black;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
   margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}
.error{
  color: red;
}
.form-control{
  justify-content: center;
}


