.footer {
  background-color: black;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  size-adjust: 100px;
  background-color: black;
}

.social-icons svg {
  font-size: 24px;
  margin: 0 10px;
  color: #555;
}

.contactdetailscard {
  display: flex;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.card {

  border: 1px solid black

}
.about {
  background-color:#007f5c;
  background-size: 100%;
  color :#f8f9fa;
  text-align: center;
  text-emphasis-color: white;
}
